:root{
  --taskbar-height: 2.5rem
}

.container {
  background-color: var(--primary-blue);
  position: fixed;
  bottom: 0;
  height: var(--taskbar-height);
  width: 100%;

  border-top: solid 5px var(--primary-blue-lighte-2);
  border-bottom: solid 1px var(--primary-blue-darker-1);

  box-shadow: inset 0px 7px 5px var(--primary-blue-lighter-2),
    inset 0px -2px 5px var(--primary-blue-darker-1);

  display: flex;
  justify-content: space-between;
}

.leftOptions {
  font-size: 1rem;
  min-width: 7rem;
  background: #1190e9;
  display: flex;
  height: var(--taskbar-height);
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;

  box-shadow: inset 0px 5px 7px #98d5ff, inset 0px 5px 4px #007fd3;
  border-left: black solid 1px;
}

.startButton {
  height: var(--taskbar-height);
  padding: 0;
  background-color: var(--green);
  min-width: 8.2rem;

  border-radius: 0 5% 5% 0;
  border: solid 1px var(--green-dark);
  outline: none;
  transition: all 0.2s;
  clip-path: circle(80% at 40% 40%);
  box-shadow: inset 5px 5px 10px var(--green-dark), inset -5px -5px 10px var(--green-dark);
  font-size: 1.5rem;
  font-family: revert;
  font-style: italic;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */

  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #666;
  padding-left: 10px;
  padding-top: 2px;
}

.startButton:hover {
    /* border: none; */
    outline: none;
    background-color: var(--green-lighter);
}

.startButtonLogo {
  width: 2rem;
  margin-right: 2px;
  margin-bottom: 2px;
}
