:root{
  --taskbar-height: 2.5rem
}

.container {
  background-color: var(--primary-blue);
  position: fixed;
  bottom: 0;
  height: var(--taskbar-height);
  width: 100%;

  box-shadow: inset 0px 5px 3px var(--primary-blue-lighter-2),
    inset 0px -2px 5px var(--primary-blue-darker-1);

  display: flex;
  justify-content: space-between;
}