:root {
  --primary-blue: #245bd9;
  --window-blue: #0057ed;
  --window-blue-background: #7b99e1;
  --primary-blue-lighter-1: #4a7bea;
  --primary-blue-lighter-2: #5284fb;
  --primary-blue-darker-1: #1650ba;
  --primary-blue-darker-2: #114098;
  --primary-blue-darker-3: #0e3172;
  --window-button-blue: #136ef7;

  --window-inactive: #7f97da;
  --window-inactive-light: #a5baf1;
  --window-inactive-dark: #6a83ca;
  --tab-inactive: #4a7cec;

  --button-border: #c1d3f9;
  --green: #25a828;
  --green-lighter: #8aec8c;
  --green-dark: #2e6930;
  --red: #e44c1b;
  --red-light: #ec6436;
  --red-dark: #c33812;
  --red-inactive: #a4819f;
  --red-inactive-dark: #8e6d89;

  --white: #ffffff;
  --white-2: #fcfcfe;
  --white-context-menu: #f0f0f0;
  --background-yellow-gray: #eae8db;


  --taskbar-height: 2.3rem !important;
  --title-bar-height: 2.3rem;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;
}