.startButton {
  height: var(--taskbar-height);
  padding: 0;
  min-width: 7.5rem;

  border-radius: 0 5% 5% 0;
  outline: none;
  transition: all 0.2s;
  clip-path: circle(80% at 40% 40%);
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
}

.startButton:hover,
.startButton:active,
.startButton:focus {
  outline: none;
}

.startButton:hover,
.startButton:active,
.startButton:focus + .startButtonLogo {
  filter: brightness(150%);
  filter: contrast(120%);
}

.startButtonLogo {
  height: 2.34rem;
  margin-left: -5px;
  filter: contrast(90%);
}